/*
 * General Body definitions
 */

// Font Rendering
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Box Sizing
*,
*:before,
*:after {
	box-sizing: border-box;
}

// Removes Dotted Border
:focus {
	outline: 0;
}

// Remove default margin in <body> (source: normalize.css)
body {
  margin: 0;
}

// Correct `block` display not defined for IE8 ~ IE11 (source: normalize.css)
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

// General Styles
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

