/*
 * Columns
 */

[class*='column-'] {
	float: left;
	position: relative;
	min-height: 1px;

	@if $gutter != 0 {
		padding-left: ( $gutter / 2);
		padding-right: ( $gutter / 2 );
	}

	&.column-center {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

/*
 * General Column Classes
 */

@for $i from 1 through $grid-columns {
  .column-#{$i} {
  	width: columnWidth($i);
  }
}

/*
 * Column Extra Large Classes
 */

@media #{$xlarge} {

	@for $i from 1 through $grid-columns {
	  .column-xlarge-#{$i} {
	  	width: columnWidth($i);
	  }
	}

}


/*
 * Column Large Classes
 */

@media #{$large} {

	@for $i from 1 through $grid-columns {
	  .column-large-#{$i} {
	  	width: columnWidth($i);
	  }
	}

}


/*
 * Column Medium Classes
 */

@media #{$medium} {

	@for $i from 1 through $grid-columns {
	  .column-medium-#{$i} {
	  	width: columnWidth($i);
	  }
	}

}


/*
 * Column Small Classes
 */

@media #{$small} {

	@for $i from 1 through $grid-columns {
	  .column-small-#{$i} {
	  	width: columnWidth($i);
	  }
	}

}

/*
 * Column Extra Small Classes
 */

@media #{$xsmall} {
	
	[class*='column-'] {
		width: 100%;
	}

	@for $i from 1 through $grid-columns {
	  .column-xsmall-#{$i} {
	  	width: columnWidth($i);
	  }
	}

}

