// =================
// Definitions
// =================

// Container Gutter
$container-gutter: ($gutter / 2);
$container-gutter-xlarge: $container-gutter;
$container-gutter-large: $container-gutter;
$container-gutter-medium: $container-gutter;
$container-gutter-small: $container-gutter;
$container-gutter-xsmall: $container-gutter;

/*
 * Container
 */
 
.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	@include clearfix();

	@if map-get($breakpoints, xlarge) != false {
		@media #{$xlarge} {
			@if $gutter != 0 {
				padding-left: $container-gutter-xlarge;
				padding-right: $container-gutter-xlarge;
			}
			max-width: map-get($containers, xlarge);
		}
	}

	@media #{$large} {
		@if $gutter != 0 {
			padding-left: $container-gutter-large;
			padding-right: $container-gutter-large;
		}
		max-width: map-get($containers, large);
	}

	@media #{$medium} {
		@if $gutter != 0 {
			padding-left: $container-gutter-medium;
			padding-right: $container-gutter-medium;
		}
		max-width: map-get($containers, medium);
	}
	
	@media #{$small} {
		@if $gutter != 0 {
			padding-left: $container-gutter-small;
			padding-right: $container-gutter-small;
		}
		max-width: map-get($containers, small);
	}
	
	@if map-get($breakpoints, xsmall) != false {
		@media #{$xsmall} {
			@if $gutter != 0 {
				padding-left: $container-gutter-xsmall;
				padding-right: $container-gutter-xsmall;
			}
			max-width: map-get($containers, xsmall);
		}
	}

}
