/*
 * Gutter
 */

.no-gutter {
	padding-left: 0!important;
	padding-right: 0!important;
}

.gutter-top {
	padding-top: ( $gutter / 2 )!important;
}

.gutter-bottom {
	padding-bottom: ( $gutter / 2 )!important;
}

.gutter-left {
	padding-left: ( $gutter / 2 )!important;
	padding-right: 0!important;
}

.gutter-right {
	padding-right: ( $gutter / 2 )!important;
	padding-left: 0!important;
}

/* AQUI */

@media #{$xlarge} {

	@include gutter("xlarge");
}

@media #{$large} {

	@include gutter("large");
	
}

@media #{$medium} {

	@include gutter("medium");
	
}

@media #{$small} {

	@include gutter("small");
	
}

@media #{$xsmall} {
	
	@include gutter("xsmall");
	
}