/*
 * Row
 */
 
.row {
	@if $gutter != 0 {
		margin-left: -( $gutter / 2 );
		margin-right: -( $gutter / 2 );
	}

	// Clearfix
	&:after {
		content: '';
		display: table;
		clear: both;
		@if $gutter != 0 {
			margin-left: -( $gutter / 2 );
			margin-right: -( $gutter / 2 );
		}
	}

	@if $gutter != 0 {
		&.no-gutter {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	// Animated rows
	&.animated {

		> div {
			transition: width $transition ease-in-out;
		}
	}
}