/*
 * Column Offset Classes
 */

@if $auxiliar-classes == true {

	@for $i from 1 through $grid-columns {
	  .column-offset-#{$i} {
	  	margin-left: columnWidth($i);
	  }
	}

	/*
	 * Column Offset Extra Large Classes
	 */

	@if map-get($breakpoints, xlarge) != false {
		@media #{$xlarge} {

			//Column Offset Reset
			.column-offset-xlarge-reset {
				margin-left: 0;
			}

			@for $i from 1 through $grid-columns {
			  .column-offset-xlarge-#{$i} {
			  	margin-left: columnWidth($i);
			  }
			}

		}
	}

	/*
	 * Column Offset Large Classes
	 */

	@media #{$large} {

		//Column Offset Reset
		.column-offset-large-reset {
			margin-left: 0;
		}
		
		@for $i from 1 through $grid-columns {
		  .column-offset-large-#{$i} {
		  	margin-left: columnWidth($i);
		  }
		}

	}


	/*
	 * Column Offset Medium Classes
	 */

	@media #{$medium} {

		//Column Offset Reset
		.column-offset-medium-reset {
			margin-left: 0;
		}
		
		@for $i from 1 through $grid-columns {
		  .column-offset-medium-#{$i} {
		  	margin-left: columnWidth($i);
		  }
		}

	}


	/*
	 * Column Offset Small Classes
	 */

	@media #{$small} {

		.column-offset-small-1 {
			margin-left: 100%;
		}
		
		@for $i from 1 through $grid-columns {
		  .column-offset-small-#{$i} {
		  	margin-left: columnWidth($i);
		  }
		}

	}

	/*
	 * Column Offset Extra Small Classes
	 */

	@if map-get($breakpoints, xsmall) != false {
		@media #{$xsmall} {

			[class*='column-offset-'] {
				margin-left: 0;
			}
			
			@for $i from 1 through $grid-columns {
			  .column-offset-xsmall-#{$i} {
			  	margin-left: columnWidth($i);
			  }
			}

		}
	}

}
