/*
 * Column Push Classes
 */

@if $auxiliar-classes == true {

	@for $i from 1 through $grid-columns {
	  .column-push-#{$i} {
			left: columnWidth($i);
		}
	}

	/*
	 * Column Push Extra Large Classes
	 */

	@if map-get($breakpoints, xlarge) != false {
		@media #{$xlarge} {

			// Column Push Reset
			.column-push-xlarge-reset {
				left: 0;
			}

			@for $i from 1 through $grid-columns {
			  .column-push-xlarge-#{$i} {
					left: columnWidth($i);
				}
			}

		}
	}

	/*
	 * Column Push Large Classes
	 */

	@media #{$large} {

		// Column Push Reset
		.column-push-large-reset {
			left: 0;
		}

		@for $i from 1 through $grid-columns {
		  .column-push-large-#{$i} {
				left: columnWidth($i);
			}
		}

	}


	/*
	 * Column Push Medium Classes
	 */

	@media #{$medium} {

		// Column Push Reset
		.column-push-medium-reset {
			left: 0;
		}
		
		@for $i from 1 through $grid-columns {
		  .column-push-medium-#{$i} {
				left: columnWidth($i);
			}
		}

	}

	/*
	 * Column Push Small Classes
	 */

	@media #{$small} {
		
		@for $i from 1 through $grid-columns {
		  .column-push-small-#{$i} {
				left: columnWidth($i);
			}
		}

	}

	/*
	 * Column Push Extra Small Classes
	 */
	@if map-get($breakpoints, xsmall) != false {
		@media #{$xsmall} {

			[class*='column-push-'] {
				left: auto;
			}

			@for $i from 1 through $grid-columns {
			  .column-push-xsmall-#{$i} {
					left: columnWidth($i);
				}
			}

		}
	}

}
