// =================
// Initial config variables, edit if needed
// =================

// Grid Columns
$grid-columns: 	12;

// Gutter Size
$gutter: 				1em;

// Breakpoint Sizes
$breakpoints: (
	xsmall: 	480px, 	// values: 480px | false
	small: 		768px,
	medium: 	1024px,
	large: 		1280px,
	xlarge: 	1680px 	// values: 1680px | false
);

// Container Sizes
$containers: (
	xsmall: 	100%,
	small: 		100%,
	medium: 	map-get($breakpoints, medium),
	large: 		map-get($breakpoints, large),
	xlarge: 	map-get($breakpoints, xlarge)
);

// CSS Transition speed
// value: time(s | ms)
$transition: 				.3s;

// Include auxiliar-classes by default?
// value: bool - true | false
$auxiliar-classes: 	true;

// Include utility-classes by default?
// value: bool - true | false
$utility-classes: 	true;


// =================
// Essential scss files imported and processed.
// (better don't touch anything below this, or the universe may explode)
// =================

/* ==
 * Base Styles
 == */
@import 'base/body';

/* ==
 * Utility Classes
 == */
@import 'utils/mixins',
				'utils/mediaqueries',
				'utils/utility-classes';

/* ==
 * Grid 
 == */
@import 'grid/container',
				'grid/column',
				'grid/gutter',
				'grid/row';

/* ==
 * Auxiliar Classes 
 == */
@import 'aux/center',
				'aux/offset',
				'aux/push',
				'aux/pull';

