// =================
// Breakpoints
// =================

// Screen sizes
$screen-small-min: 	map-get($breakpoints, small);
$screen-medium-min: map-get($breakpoints, medium);
$screen-large-min: 	map-get($breakpoints, large);
$screen-xlarge-min: map-get($breakpoints, xlarge);
$screen-xsmall-max: ($screen-small-min - 1);
$screen-small-max: ($screen-medium-min - 1);
$screen-medium-max: ($screen-large-min - 1);
$screen-large-max: ($screen-xlarge-min - 1);

// Orientation
$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

// Breakpoints
$xsmall: "(max-width: #{$screen-xsmall-max})";
$small: "(min-width: #{$screen-small-min}) and (max-width: #{$screen-small-max})";
$small-up: "(min-width: #{$screen-small-min})";
$small-down: "(max-width: #{$screen-small-max})";
$medium: "(min-width: #{$screen-medium-min}) and (max-width: #{$screen-medium-max})";
$medium-up: "(min-width: #{$screen-medium-min})";
$medium-down: "(max-width: #{$screen-medium-max})";
$large: null;
@if map-get($breakpoints, xlarge) != false {
	$large: "(min-width: #{$screen-large-min}) and (max-width: #{$screen-large-max})";
} @else {
	$large: "(min-width: #{$screen-large-min})";
}
$large-up: "(min-width: #{$screen-large-min})";
$large-down: "(max-width: #{$screen-large-max})";
$xlarge: "(min-width: #{$screen-xlarge-min})";

// Retina
$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)";

// IE Media Queries
$ie6-7: screen\9;
$ie8: \0screen;
$oldIE: "@{ie8}\,@{ie6-7}";
$ie9-10: "screen and (min-width:0\0)";

