// =================
// Utility Classes
// =================

@if $utility-classes == true {

	.-hidden {
		display: none!important;
	}
	.-invisible {
	  visibility: hidden;
	}
	.-visible {
		display: block!important;
	}
	.-visible-inline {
		display: inline!important;
	}
	.-visible-inlineblock {
		display: inline-block!important;
	}

	// xlarge
	@media #{$xlarge} {
		@include utils("xlarge");
	}

	// large
	@media #{$large} {
		@include utils("large");
	}

	// medium
	@media #{$medium} {
		@include utils("medium");
	}

	// small
	@media #{$small} {
		@include utils("small");
	}

	// xsmall
	@media #{$xsmall} {
		@include utils("xsmall");
	}

}